[Unit]
Description=My Python Script Service
After=network.target

[Service]
ExecStart=/bin/bash -c 'source ~/Documents/rat_counter_v3/myenv/bin/activate && exec python ~/Documents/rat_counter_v3/wheel_counterZ_raspberry.py'
WorkingDirectory=~/Documents/rat_counter_v3
StandardOutput=inherit
StandardError=inherit
Restart=always
User=lakelab

[Install]
WantedBy=multi-user.target
